@model SPV.BE.Convocatoria2BE

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generar Convocatoria</h2>


@using (Html.BeginForm("Create", "Convocatoria", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TipoConvocatoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cboTipoConvocatoria", @ViewBag.TiposConvocatoria as SelectList, "--Tipo convocatoria--", new { id = "cboTipoConvocatoria", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { id = "txtNombre", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { id = "dpFechaInicio", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { id = "dpFechaFin", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Solicitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cboSolicitud", @ViewBag.TiposSolicitud as SelectList, "--Solicitud--", new { id = "cboSolicitud", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="padding-right: 70px;">
            <div style="float:right;">
                <div style="float:left;">
                    <input type="submit" value="Grabar" class="btn btn-primary" id="btnGrabar" />
                </div>

                <div style="float:left;padding-left:10px;">
                    <button class="btn btn-danger" type="button" onclick="ConfirmCancel();">
                        <span class="glyphicon glyphicon-floppy-remove"> Cancelar</span>
                    </button>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>

    </div>
}

<script type="text/javascript" src="~/Scripts/jsViews/Convocatoria/Create.js"></script>
<script type="text/javascript">

    function ConfirmCancel() {
        var x = confirm("¿Está seguro que desea cancelar el registro de convocatoria?");
        if (x)
            location.href = '@Url.Action("Index", "Convocatoria")';
        else
            return false;
    }

</script>