@model SPV.BE.ListaPaginada<SPV.BE.Convocatoria2BE>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Convocatoria de Personal</h2>

@{
    var message = TempData["msg"] ?? string.Empty;
}

<div class="well">
    @using (Html.BeginForm("Index", null, FormMethod.Get))
    {
        <div>

            <fieldset>
                <legend>Búsqueda</legend>
                <div class="form-group row">
                    <label class="control-label col-md-1" style="padding-left:15px;">Codigo: </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control disabled" name="txtCodigoBusqueda" id="txtCodigoBusqueda" placeholder="Código" value="@ViewBag.id" />
                    </div>
                    <label class="control-label col-md-1" style="padding-left:15px;">Nombre: </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="txtNombreBusqueda" id="txtNombreBusqueda" placeholder="Nombre" />
                    </div>
                    <label class="control-label col-md-2" style="padding-left:15px;">Tipo Convocatoria: </label>
                    <div class="col-md-3">
                        @Html.DropDownList("cboTipoConvocatoria", @ViewBag.TiposConvocatoria as SelectList, "-- Todos --", new { id = "cboTipoConvocatoria", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-1" style="padding-left:15px;">Cargo: </label>
                    <div class="col-md-2">
                        @Html.DropDownList("cboCargo", @ViewBag.Cargos as SelectList, "-- Todos --", new { id = "cboCargo", @class = "form-control" })
                    </div>
                    <label class="control-label col-md-1" style="padding-left:15px;">Fecha Inicio: </label>
                    <div class="col-md-2">
                        <div class="input-group date">
                            <input type="text" class="form-control" name="dpFechaInicio" id="dpFechaInicio" placeholder="F. inicio" />
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <label class="control-label col-md-2" style="padding-left:15px;">Fecha Fin: </label>
                    <div class="col-md-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" name="dpFechaFin" id="dpFechaFin" placeholder="F. fin" />
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                </div>
            </fieldset>
            <div class="row">
                <div class="pull-left col-lg-1">
                    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("Registrar", "Convocatoria")'">
                        <span class="glyphicon glyphicon-plus">Crear Convocatoria</span>
                    </button>
                </div>

            </div>
        </div>
        <div style="margin-top:17px;">
            @{
                var grid = new WebGrid(
                            canPage: true,
                            rowsPerPage: Model.PageSize,
                            canSort: true,
                            ajaxUpdateContainerId: "grid");

                grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                grid.Pager(WebGridPagerModes.All);

                @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    fillEmptyRows: false,
                    tableStyle: "table table-bordered table-hover",
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                      grid.Column("CodigoInterno", "Código", style: "col-xs-1"),
                      grid.Column("Nombre", "Nombre", style: "col-xs-4"),
                      grid.Column("Solicitud.TipoConvocatoria.Descripcion", "Tipo Convocatoria", style: "col-xs-1"),
                      grid.Column("Solicitud.Cargo.Descripcion", "Cargo", style: "col-xs-1"),
                      grid.Column("FechaInicio", "Fecha Inicio", format: @<text>@String.Format("{0:dd-MM-yyyy}", item.FechaInicio) </text>, style: "col-sm-2"),
                      grid.Column("FechaFin", "Fecha Fin", format: @<text>@String.Format("{0:dd-MM-yyyy}", item.FechaFin)</text>, style: "col-sm-2"),
                      grid.Column("Solicitud.Cantidad", "Vacantes", style: "col-xs-1"),
                      grid.Column("Estado.Descripcion", "Estado", style: "col-xs-1"),
                      grid.Column(header: "Acciones", canSort: false, style: "action",
                        format: @<text>
                        @Html.Raw("<a data-modal='' href='/Convocatoria/Detalle/" + item.Solicitud.CodigoSol + "' id='" + item.Solicitud.CodigoSol + "' title='Ver Detalle'> <span class='glyphicon glyphicon-search'> Ver Detalle </span> </a>")
                        </text>)
            ));
            }
        </div>
}
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jsViews/Convocatoria/Index.js")


<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);

    $(function () {
        $.ajaxSetup({ cache: false });
        $("a[data-modal]").on("click", function (e) {
            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $('#progress').show();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#progress').hide();
                        alert("Grabado Correctamente.");
                        location.reload();
                    } else {
                        $('#progress').hide();
                        alert(result.msg);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }

</script>
}