@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoadGrid</title>
</head>
<body>
    <div class="well">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="pull-left col-lg-1">
                    <a class="btn btn-success" data-modal="" href="/Solicitud/RegistrarPerfil" id="btnCrearPerfil">
                        <span class="glyphicon glyphicon-plus">Agregar Perfil</span>
                    </a>
                </div>
            </div>

            <div style="margin-top:17px;">
                @{
                    var grid = new WebGrid(
                                canPage: true,
                                rowsPerPage: Model.PageSize,
                                canSort: true,
                                ajaxUpdateContainerId: "grid");

                    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                    grid.Pager(WebGridPagerModes.All);

                    @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    fillEmptyRows: false,
                    tableStyle: "table table-bordered table-hover",
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                      grid.Column("CodigoSolicitudPer", "Código"),
                      grid.Column("Perfil.Perfil", "Perfil", style: "col-lg-1"),
                      grid.Column("Requisitos", "Requisitos",  style: "col-lg-3"),
                      grid.Column("Funciones", "Funciones", style: "col-lg-3"),
                      grid.Column("Sueldo", header: "Sueldo", format: @<text>@String.Format("{0:C}", item.Sueldo) </text>),
                      grid.Column("CantidadSolicitudPer", "Vacantes", style: "col-lg-1"),
                      grid.Column(header: "Acciones", canSort: false, style: "action",
                        format: @<text>
                        @Html.Raw("<a data-modal='' href='/Solicitud/EditarPerfil/" + item.CodigoSolicitudPer + "' id='" + item.CodigoSolicitudPer + "' title='Editar'> <span class='glyphicon glyphicon-edit'> Editar </span> </a>")
                        @Html.Raw("<a data-modal='' href='/Solicitud/EliminarPerfils/" + item.CodigoSolicitudPer + "' id='" + item.CodigoSolicitudPer + "' title='Eliminar'> <span class='glyphicon glyphicon-trash'> Eliminar </span> </a>")
                        </text>)

            ));
                }
            </div>

        }
    </div>

    @section scripts{
        @Scripts.Render("~/Scripts/jsViews/Solicitud/solicitud.js")
    }
</body>
</html>
