@model SPV.BE.SolicitudPerfilBE

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Editar Perfil</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CodigoSolicitudPer)

    <div class="modal-body">

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Perfil, new { @class = "control-label col-sm-3" })
                <div class="col-md-9">
                    <select class="form-control selectpicker" name="cboPerfil" id="cboPerfil" style="width:280px"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Requisitos, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Requisitos, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Requisitos)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Funciones, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Funciones, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Funciones)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Sueldo, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Sueldo, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Sueldo)
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => Model.CantidadSolicitudPer, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.CantidadSolicitudPer, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.CantidadSolicitudPer)
                    </div>
                </div>
            </div>

        </div>

    </div>

        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">
                <img src="~/Content/image/Wait.gif" alt="Espere" />
                Espere..
            </span>

            <input class="btn btn-primary" type="submit" value="Grabar" />
            <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
}
<script>
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");

        $(document).ready(function () {
            cargarPerfiles();
        });

        function cargarPerfiles() {
            $.get('@Url.Action("ListaPerfiles", "Solicitud")')
            .done(function (data) {
                $('#cboPerfil').append('<option value="0">--Seleccione--</option>');
                $.each(data, function (i, row) {
                    var $option = $('<option>');
                    $option.val(row.CodPerfil);
                    $option.html(row.Perfil);
                    $('#cboPerfil').append($option);
                });
                $("#cboPerfil option").filter(function () {
                    return $(this).val() == "@(Model.Perfil.CodPerfil)";
                }).prop('selected', true);
            })
            .fail(function (data) {
                console.log('error');
            });
        }
</script>