@model SPV.BE.SolicitudPersonalBE

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Enviar Solicitud de Personal</h3>
</div>


@using (Html.BeginForm("EnviarMail", "Solicitud", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        @Html.HiddenFor(m => m.CodigoSol)
        <div class="form-horizontal">
            <div class="form-group row">
                @Html.LabelFor(m => Model.CodigoInterno, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.CodigoInterno, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.TipoConvocatoria, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.TipoConvocatoria.Descripcion, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.TipoSolicitudSol, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.TipoSolicitudSol.Descripcion, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.Motivo, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Motivo.Descripcion, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.FechaSol, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.FechaSol, "{0:dd/MM/yyyy}", new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.Cargo, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Cargo.Descripcion, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.SueldoSolicitud, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.SueldoSolicitud, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => Model.Cantidad, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Cantidad, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <h4>
                        <span class="label label-danger">
                            ¿Está seguro que desea enviar la solicitud seleccionada?
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Si" />
        <button class="btn btn-danger" data-dismiss="modal">No</button>
    </div>
}