@model SPV.BE.ListaPaginada<SPV.BE.SolicitudPersonalBE>

@{
    ViewBag.Title = "Aprobar solicitudes de personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aprobar solicitud de personal</h2>

@{
    var message = TempData["msg"] ?? string.Empty;
}

<div class="well">
    @using (Html.BeginForm("IndexAprobar", null, FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-10">
                <div class="input-group">
                    <div style="float:left;" id="ComboFiltro">
                        <label class="control-label" style="padding-left:15px:">Filtrado por: </label>
                        <select id="cboTipoFiltro" name="cboTipoFiltro" class="form-control selectpicker" style="width:150px;" data-style="btn-success" required></select>
                    </div>

                    <div style="float:left;display:none;" id="Filtro1">
                        <input type="text"
                               name="desc"
                               value="@ViewBag.desc"
                               class="form-control"
                               style="display: inline"
                               placeholder="Buscar" />
                        <span style="width:10px;"></span>
                    </div>

                    <div style="float:left;display:none;" id="Filtro2">
                        <select id="cboFiltro" name="cboFiltro" class="form-control selectpicker" style="width:150px;" data-style="btn-success"></select>
                    </div>

                    <div style="float:left;display:none;" id="Filtro3">
                        <label class="control-label" style="padding-left:15px;">F. inicio: </label>
                        <input class='form-control date-picker' id="fechaIni" name="fechaIni" value="@ViewBag.FIni" placeholder="Inicio" style="padding-left:5px;width:95px;" readonly />
                        <label class="control-label" style="padding-left:15px;">F. Fin: </label>
                        <input class='form-control date-picker' id="fechaFin" name="fechaFin" value="@ViewBag.FFin" placeholder="Fin" style="padding-left:5px;width:95px;" readonly />
                    </div>

                    <div style="float:left;padding-left:10px;">
                        <label class="control-label" style="padding-left:15px:">Estado: </label>
                        <select id="cboEstado" name="cboEstado" class="form-control selectpicker" style="width:130px;" data-style="btn-success" required></select>
                    </div>

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                    <div style="clear:both;"></div>
                </div>
            </div>

        </div>

        <div style="margin-top:17px;">
            @{
                var grid = new WebGrid(
                            canPage: true,
                            rowsPerPage: Model.PageSize,
                            canSort: true,
                            ajaxUpdateContainerId: "grid");

                grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                grid.Pager(WebGridPagerModes.All);

                @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    fillEmptyRows: false,
                    tableStyle: "table table-bordered table-hover",
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                      grid.Column("CodigoInterno", "Código"),
                      grid.Column("TipoSolicitudSol.Descripcion", "Tipo", style: "col-xs-1"),
                      grid.Column("Motivo.Descripcion", "Motivo", style: "col-xs-1"),
                      grid.Column("Cargo.Descripcion", "Cargo", style: "col-xs-1"),
                      grid.Column("FechaSol", "Fecha Solicitud", format: @<text>@String.Format("{0:dd-MM-yyyy}", item.GetStringFechaSol) </text>, style: "col-xs-2"),
                      grid.Column("FechaPresentacion", "Fecha Presentación", format: @<text>@String.Format("{0:dd-MM-yyyy}", item.GetStringFechaPresentacion)</text>, style: "col-xs-1"),
                      grid.Column("FechaEnvio", "Fecha envío", format: @<text>@String.Format("{0:dd-MM-yyyy}", item.GetStringFechaEnvio) </text>, style: "col-xs-2"),
                      grid.Column("EstadoSol.Descripcion", "Estado", style: "col-xs-1"),
                      grid.Column(header: "Acciones", canSort: false, style: "action",
                        format: @<text>
                        @Html.Raw("<a href='/Solicitud/DetalleAprobar/" + item.CodigoSol + "' id='" + item.CodigoSol + "' title='Ver Detalle'> <span class='glyphicon glyphicon-search'>  </span> </a>")

                        @if (item.EstadoSol.Codigo == 2)
                        {
                            <a href='#' id='" + item.CodigoSol + "' onClick="alert('No es posible aprobar la solicitud ya fue aprobada.')" title='Aprobar'> <span class='glyphicon glyphicon-ok'>  </span> </a>
                            <a href='#' id='" + item.CodigoSol + "' onClick="alert('No es posible rechazar la solicitud ya fue aprobada.')" title='Rechazar'> <span class='glyphicon glyphicon-remove-circle'>  </span> </a>
                        }
                        else if (item.EstadoSol.Codigo == 3)
                        {
                            <a href='#' id='" + item.CodigoSol + "' onClick="alert('No es posible aprobar la solicitud ya fue rechazada.')" title='Aprobar'> <span class='glyphicon glyphicon-ok'>  </span> </a>
                            <a href='#' id='" + item.CodigoSol + "' onClick="alert('No es posible rechazar la solicitud ya fue rechazada.')" title='Rechazar'> <span class='glyphicon glyphicon-remove-circle'>  </span> </a>
                        }
                        else if (item.EstadoSol.Codigo == 1)
                        {
                            <a href='#' id='" + item.CodigoSol + "' onClick="alert('No es posible aprobar la solicitud no ha sido enviada.')" title='Aprobar'> <span class='glyphicon glyphicon-ok'>  </span> </a>
                            <a href='#' id='" + item.CodigoSol + "' onClick="alert('No es posible rechazar la solicitud no ha sido enviada.')" title='Rechazar'> <span class='glyphicon glyphicon-remove-circle'>  </span> </a>
                        }
                        else
                        {
                            @Html.Raw("<a data-modal='' href='/Solicitud/Aprobar/" + item.CodigoSol + "' id='" + item.CodigoSol + "' title='Aprobar'> <span class='glyphicon glyphicon-ok'> </span> </a>")
                            @Html.Raw("<a data-modal='' href='/Solicitud/Rechazar/" + item.CodigoSol + "' id='" + item.CodigoSol + "' title='Rechazar'> <span class='glyphicon glyphicon-remove-circle'>  </span> </a>")
                        }

                        </text>)

            ));
            }
        </div>
    }
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jsViews/Solicitud/solicitud.js")

    <script type="text/javascript">

    $(document).ready(function () {
        cargarTipoFiltro();
        cargarEstadoFiltro();
    });

    $(function () {
        $("#fechaIni").datepicker({ format: 'dd/mm/yyyy' });
        $("#fechaFin").datepicker({ format: 'dd/mm/yyyy' }).bind("change", function () {
            var minValue = $(this).val();
            minValue = $.datepicker.parseDate("dd/mm/yyyy", minValue);
            minValue.setDate(minValue.getDate() + 1);
            $("#fechaFin").datepicker("option", "minDate", minValue);
        })
    });

    $('#cboTipoFiltro').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        if (valueSelected == 1) {
            $("#Filtro1").show();
            $("#Filtro2").hide();
            $("#Filtro3").hide();
        } else if (valueSelected == 2) {
            $("#Filtro1").hide();
            $("#Filtro2").show();
            $("#Filtro3").hide();
            cargarTipoSolicitud();
        } else if (valueSelected == 3) {
            $("#Filtro1").hide();
            $("#Filtro2").show();
            $("#Filtro3").hide();
            cargarMotivoFiltro();
        } else if (valueSelected == 4) {
            $("#Filtro1").hide();
            $("#Filtro2").show();
            $("#Filtro3").hide();
            cargarCargosFiltro();
        } else if (valueSelected == 5) {
            $("#Filtro1").hide();
            $("#Filtro2").hide();
            $("#Filtro3").show();
        } else if (valueSelected == 6) {
            $("#Filtro1").hide();
            $("#Filtro2").hide();
            $("#Filtro3").show();
        } else if (valueSelected == 7) {
            $("#Filtro1").hide();
            $("#Filtro2").hide();
            $("#Filtro3").show();
        } else {
            $("#Filtro1").hide();
            $("#Filtro2").hide();
            $("#Filtro3").hide();
        }
    });

    function cargarTipoSolicitud() {
        $.get('@Url.Action("ListaTipoSolicitud", "Solicitud")')
        .done(function (data) {
            $('#cboFiltro').empty();
            $('#cboFiltro').append('<option value="0">--TODOS--</option>');
            $.each(data, function (i, row) {
                var $option = $('<option>');
                $option.val(row.Codigo);
                $option.html(row.Descripcion);
                $('#cboFiltro').append($option);
            });
            $("#cboFiltro option").filter(function () {
                return $(this).val() == "@ViewBag.cboTipo";
            }).prop('selected', true);
        })
        .fail(function (data) {
            console.log('error');
        });
    }

    function cargarTipoFiltro() {
        $.get('@Url.Action("ListaTipoFiltro", "Solicitud")')
        .done(function (data) {
            $('#cboTipoFiltro').append('<option value="0">--TODOS--</option>');
            $.each(data, function (i, row) {
                var $option = $('<option>');
                $option.val(row.Codigo);
                $option.html(row.Descripcion);
                $('#cboTipoFiltro').append($option);
            });
            $("#cboTipoFiltro option").filter(function () {
                return $(this).val() == "@ViewBag.TipoFiltro";
            }).prop('selected', true);
        })
        .fail(function (data) {
            console.log('error');
        });
    }

    function cargarMotivoFiltro() {
        $.get('@Url.Action("ListaMotivoFiltro", "Solicitud")')
        .done(function (data) {
            $('#cboFiltro').empty();
            $('#cboFiltro').append('<option value="0">--TODOS--</option>');
            $.each(data, function (i, row) {
                var $option = $('<option>');
                $option.val(row.Codigo);
                $option.html(row.Descripcion);
                $('#cboFiltro').append($option);
            });
            $("#cboFiltro option").filter(function () {
                return $(this).val() == "@ViewBag.cboTipo";
            }).prop('selected', true);
        })
        .fail(function (data) {
            console.log('error');
        });
    }

    function cargarEstadoFiltro() {
        $.get('@Url.Action("ListaEstadoFiltro", "Solicitud")')
        .done(function (data) {
            $('#cboEstado').append('<option value="0">--TODOS--</option>');
            $.each(data, function (i, row) {
                var $option = $('<option>');
                $option.val(row.Codigo);
                $option.html(row.Descripcion);
                $('#cboEstado').append($option);
            });
            $("#cboEstado option").filter(function () {
                return $(this).val() == "@ViewBag.cboEstado";
            }).prop('selected', true);
        })
        .fail(function (data) {
            console.log('error');
        });
    }

    function cargarCargosFiltro() {
        $.get('@Url.Action("ListaCargoFiltro", "Solicitud")')
        .done(function (data) {
            $('#cboFiltro').empty();
            $('#cboFiltro').append('<option value="0">--TODOS--</option>');
            $.each(data, function (i, row) {
                var $option = $('<option>');
                $option.val(row.CodigoCargo);
                $option.html(row.Descripcion);
                $('#cboFiltro').append($option);
            });
            $("#cboFiltro option").filter(function () {
                return $(this).val() == "@ViewBag.cboTipo";
            }).prop('selected', true);
        })
        .fail(function (data) {
            console.log('error');
        });
    }

    </script>
    <script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
    </script>
}