@using SPV.WebMVC;
@{
    var usuario = FachadaSesion.Usuario;
    ViewBag.Title = "Sistema de Gestión de Recursos Humanos";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Sistema de Gestión de Recursos Humanos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-plazavea navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="brand-img" src="~/Content/image/PlazaVea.png" alt="Plaza Vea">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container-fuild">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ><a href="#">Gestión de góndolas</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS001</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS002</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS003</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS004</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS005</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">Gestión de terceros</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS001</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS002</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS003</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS004</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS005</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">Campañas y promociones</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS001</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS002</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS003</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS004</a></li>
                    <li class="nav-subitem-level-1"><a href="#">CUS005</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Gestión de Recursos Humanos</a></li>
                    @if (FachadaSesion.Usuario != null)
                    {
                        if(FachadaSesion.Usuario.Perfil.CodPerfil == 2 || FachadaSesion.Usuario.Perfil.CodPerfil == 1)
                        {
                            <li class="nav-subitem-level-1">
                                @Html.ActionLink("Solicitud de Personal", "Index", "Solicitud")
                            </li>
                        }
                        else
                        {
                            <li class="nav-subitem-level-1">
                                <a href = "#" onclick="alert('No esta autorizado para ingresar a esta opción'); return false;">Solicitud de Personal</a>
                            </li>
                        }

                        if (FachadaSesion.Usuario.Perfil.CodPerfil == 3 || FachadaSesion.Usuario.Perfil.CodPerfil == 1)
                        {
                            <li class="nav-subitem-level-1">
                                @Html.ActionLink("Aprobar Solicitud", "IndexAprobar", "Solicitud")
                            </li>
                        }
                        else
                        {
                            <li class="nav-subitem-level-1">
                                <a href="#" onclick="alert('No esta autorizado para ingresar a esta opción'); return false;">Aprobar Solicitud</a>
                            </li>
                        }

                        if (FachadaSesion.Usuario.Perfil.CodPerfil == 7 || FachadaSesion.Usuario.Perfil.CodPerfil == 1)
                        {
                            <li class="nav-subitem-level-1">
                                @Html.ActionLink("Convocatorias", "Index", "Gestionar Convocatoria")
                            </li>
                        }
                        else
                        {
                            <li class="nav-subitem-level-1">
                                <a href="#" onclick="alert('No esta autorizado para ingresar a esta opción'); return false;">Gestionar Convocatorias</a>
                            </li>
                        }

                        if (FachadaSesion.Usuario.Perfil.CodPerfil == 5 || FachadaSesion.Usuario.Perfil.CodPerfil == 6 || FachadaSesion.Usuario.Perfil.CodPerfil == 1)
                        {
                            if (FachadaSesion.Usuario.Perfil.Examen.ID == 1)
                            {
                                <li class="nav-subitem-level-1">
                                    @Html.ActionLink("Exámen Psicotécnico", "Examen", "Examen")
                                </li>
                            }
                            else if (FachadaSesion.Usuario.Perfil.Examen.ID == 2)
                            {
                                <li class="nav-subitem-level-1">
                                    @Html.ActionLink("Exámen Psicotécnico", "Examen", "Examen")
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-subitem-level-1">
                                <a href="#" onclick="alert('No esta autorizado para ingresar a esta opción'); return false;">Exámen Psicotécnico</a>
                            </li>
                        }
                        if (FachadaSesion.Usuario.Perfil.CodPerfil == 4 || FachadaSesion.Usuario.Perfil.CodPerfil == 1)
                        {
                            <li class="nav-subitem-level-1">
                                @Html.ActionLink("Gestionar Postulantes Aptos", "Index", "Postulante")
                            </li>
                        }
                        else
                        {
                            <li class="nav-subitem-level-1">
                                <a href="#" onclick="alert('No esta autorizado para ingresar a esta opción'); return false;">Gestionar Postulantes Aptos</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
