@model SPV.BE.ListaPaginada<SPV.BE.ColaboradorBE>

<div class="well">
    <div style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    fillEmptyRows: false,
                    tableStyle: "table table-bordered table-hover",
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                      grid.Column(format: @<text><input id="IdColaborador" class="chkWg" name="IdColaborador" type="checkbox" value="@item.ID" /></text>, style: "col-xs-1 col-md-1"),
                      grid.Column("DNI", "DNI", style: "col-xs-1 col-md-1"),
                      grid.Column("ApellidoPaterno", "Ape. Paterno", style: "col-xs-1 col-md-2"),
                      grid.Column("ApellidoMaterno", "Ape. Materno", style: "col-xs-1 col-md-2"),
                      grid.Column("Nombres", "Nombres", style: "col-xs-1 col-md-2"),
                      grid.Column("PuntajeExamen", "Puntaje", style: "col-xs-1 col-md-1"),
                      grid.Column(header: "Acciones", canSort: false, style: "action",
                        format: @<text>
                        @Html.Raw("<a data-modal='' href='/Postulante/VerCV/" + item.ID + "' id='" + item.ID + "' title='Ver CV'> <span class='glyphicon glyphicon-search'>Ver CV </span> </a>")
                        @if (item.RindioExamen == 0)
                        {
                            <a href='#' id='" + item. + "' onClick="alert('El postulante no ha rendido exámen.')" title='Ver Exámen'> <span class='glyphicon glyphicon-file'>Ver Exámen </span> </a>
                        }
                        else
                        {
                            @Html.Raw("<a data-modal='' href='/Postulante/VerExamen/" + item.Usuario.CodigoUsuario + "' id='" + item.Usuario.CodigoUsuario + "' title='Ver Exámen'> <span class='glyphicon glyphicon-file'>Ver Examen </span> </a>")
                        }
                        </text>)
            ));
        }
    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jsViews/Postulante/postulante.js")

}