@model SPV.BE.Convocatoria2BE

@{
    ViewBag.Title = "Seleccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de Postulantes</h2>

<div class="form-horizontal">

    <div>
        <fieldset>
            <legend></legend>

            @Html.HiddenFor(m => m.ID)
            <div class="form-group row">
                @Html.LabelFor(model => model.CodigoInterno, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.CodigoInterno, new { htmlAttributes = new { id = "TxtCodigo", @class = "form-control", @style = "width:100px;" } })
                    @Html.ValidationMessageFor(model => model.CodigoInterno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { id = "txtNombre", @class = "form-control", @style = "width:400px;" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1 input-group date">
                    <input class='form-control date-picker' id="fechaIni" name="fechaIni" value="@ViewBag.FIni" placeholder="Inicio" style="padding-left:5px;width:120px;" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1 input-group date">
                    <input class='form-control date-picker' id="fechaFin" name="fechaFin" value="@ViewBag.FFin" placeholder="Fin" style="padding-left:5px;width:120px;" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Solicitud.Cantidad, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Solicitud.Cantidad, new { htmlAttributes = new { id = "txtCantidad", @class = "form-control", @style = "width:90px;" } })
                    @Html.ValidationMessageFor(model => model.Solicitud.Cantidad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Fase, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Fase.Descripcion, new { htmlAttributes = new { id = "txtCantidad", @class = "form-control", @style = "width:90px;" } })
                </div>
            </div>
        </fieldset>
        <br />
        <div>
            @Html.Partial("_Postulantes", Model.ListaColaborador)
        </div>
    </div>

    <div style="padding-right: 70px;">
        <div style="float:right;">
            <div style="float:left;">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="~/Content/image/Wait.gif" alt="wiat" />
                    Espere por favor..
                </span>
            </div>
            <div style="float:left;padding-left:15px;">
                <input type="button" value="Grabar" class="btn btn-primary" id="btnGrabar" onclick="Grabar();" />
                <input type="hidden" value="" id="hddCodigo">
            </div>

            <div style="float:left;padding-left:10px;">
                <button class="btn btn-danger" type="button" onclick="ConfirmCancel();">
                    <span class="glyphicon glyphicon-floppy-remove"> Cancelar</span>
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>

</div>

<script type="text/javascript">

    function Grabar() {

        var ID = $('#txtID').val();
        var codigoSel = $('#hddCodigo').val();

        if (codigoSel == "") {
            alert("Seleccione solicitud.");
            return;
        }

        $('#progress').show();

        $.ajax({
            url: "/Postulante/Seleccion",
            type: "POST",
            data: JSON.stringify({ 'ID': ID, 'Seleccionados' : codigoSel }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status == "Success") {
                    alert("Registrado Correctamente");
                    var url = "/Postulante/Index";
                    $('#progress').hide();
                    window.location.href = url;
                } else {
                    $('#progress').hide();
                    alert("Ha ocurrido un error al registrar");
                }
            },
            error: function () {
                $('#progress').hide();
                alert("Ha ocurrido un error al registrar");
            }
        });
    }

    $(function () {
        $("#fechaIni").datepicker({ format: 'dd/mm/yyyy' });
        $("#fechaFin").datepicker({ format: 'dd/mm/yyyy' });
    });

    function ConfirmCancel() {
        var x = confirm("¿Está seguro que desea cancelar el registro de postulantes?");
        if (x)
            location.href = '@Url.Action("Index", "Postulante")';
        else
            return false;
    }

</script>