@model SPV.BE.Convocatoria2BE

@{
    ViewBag.Title = "Seleccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar Postulantes</h2>

<div class="form-horizontal">

    <div>
        <fieldset>
            <legend>Datos de la convocatoria</legend>
            @Html.HiddenFor(m => m.ID)
            <div class="form-group row">
                @Html.LabelFor(model => model.CodigoInterno, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.CodigoInterno, new { htmlAttributes = new { id = "txtCodigo", @class = "form-control", @style = "width:100px;" , @disabled = true } })
                    @Html.ValidationMessageFor(model => model.CodigoInterno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { id = "txtNombre", @class = "form-control", @style = "width:4    00px;", @disabled = true } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1 input-group date">
                    @Html.TextBoxFor(m => m.FechaInicio, "{0:dd/MM/yyyy}", new { @class = "form-control required", @disabled = true, @style = "width:120px;" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1 input-group date">
                    @Html.TextBoxFor(m => m.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control required", @disabled = true, @style = "width:120px;" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Solicitud.Cantidad, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Solicitud.Cantidad, new { htmlAttributes = new { id = "txtCantidad", @class = "form-control", @style = "width:100px;", @disabled = true } })
                    @Html.ValidationMessageFor(model => model.Solicitud.Cantidad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Fase, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Fase.Descripcion, new { htmlAttributes = new { id = "txtFase", @class = "form-control", @style = "width:400px;" , @disabled = true } })
                </div>
                <p>
                    <span>
                        <font color="#428bca">NO INICIADA(0)</font><b>--></b> 
                        <font color="#428bca">EVALUACIÓN PSICOLOGICA(1)</font><b>--></b>
                        <font color="#428bca">EXAMEN PSICOTÉCNICO(2)</font><b>--></b>
                        <font color="#428bca">ENTREVISTA PERSONAL(3)</font><b>--></b>
                        <font color="#428bca">FINALIZADO(4)</font>
                    </span>
                </p>
            </div>
        </fieldset>
        <br />
        <div>
            <fieldset>
                <legend>Datos del postulante</legend>
                @Html.Partial("_Postulantes", Model.ListaColaborador)
            </fieldset>
        </div>
    </div>

    <div style="padding-right: 70px;">
        <div style="float:right;">
            <div style="float:left;">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="~/Content/image/Wait.gif" alt="wiat" />
                    Espere por favor..
                </span>
            </div>
            <div style="float:left;padding-left:15px;">
                <input type="button" value="Grabar" class="btn btn-primary" id="btnGrabar" onclick="Grabar();" />
                <input type="hidden" value="" id="hddCodigo">
                <input type="hidden" value="" id="hddPuntajeExamen">
            </div>

            <div style="float:left;padding-left:10px;">
                <button class="btn btn-danger" type="button" onclick="ConfirmCancel();">
                    Cancelar
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>

</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jsViews/Postulante/postulante.js")

<script type="text/javascript">

    var dataList;

    $(document).ready(function () {


        $("#grid td:first-child").click(function () {
            var value = $(this).closest('tr').find('td:eq(5)').text();
            $("#hddPuntajeExamen").val(value);
        });

        $('input.chkWg').on('change', function () {
            var result = "";
            var valoresAnt = $('#hddCodigo').val();
            var codigo = $(this).val();
            var puntaje = $("#hddPuntajeExamen").val();

            if (puntaje == 0) {
                alert("Seleccionar postulante que haya rendido el exámen. El puntaje debe ser mayor a cero (0).")
                this.checked = false;
                return;
            }

            if (valoresAnt == "") {
                dataList = [];
            } else {
                dataList = $('#hddCodigo').val().split(",");
            }

            if (this.checked == true) {
                dataList.push(codigo);
            } else {
                var removeItemIndex = dataList.indexOf(codigo);
                if (removeItemIndex != -1) dataList.splice(removeItemIndex, 1);
            }

            for (i = 0; i < dataList.length; i++) {
                if (dataList.length == 1) {
                    result = dataList[i];
                } else {
                    if (i == 0) {
                        result = dataList[i];
                    } else {
                        result = result + ',' + dataList[i];
                    }
                }
            }

            $('#hddCodigo').val(result);
        });
    });


    function Grabar() {
        var ID = $('#ID').val();
        var valores = $('#hddCodigo').val();
        var codigoSelList;
        
        if (valores == "") {
            codigoSelList = [];
        } else {
            codigoSelList = $('#hddCodigo').val().split(",");
        }

        if (codigoSelList.length == 0) {
            alert("Seleccione al menos un postulante apto.");
            return;
        } else {
            var vacantes = $('#txtCantidad').val();

            if (codigoSelList.length > vacantes) {
                alert("La cantidad de postulantes seleccionados no debe superar a la cantidad de vacantes.");
                return;
            }
        }

        var x = confirm("¿Está seguro que desea grabar?");
        if (x)
        {
            var codigoSel = $('#hddCodigo').val();
            $('#progress').show();

            $.ajax({
                url: "/Postulante/Seleccion",
                type: "POST",
                data: JSON.stringify({ 'id': ID, 'seleccionados' : codigoSel }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == "Success") {
                        alert("Registrado Correctamente");
                        var url = "/Postulante/Index";
                        $('#progress').hide();
                        window.location.href = url;
                    } else {
                        $('#progress').hide();
                        alert("Ha ocurrido un error al registrar");
                    }
                },
                error: function () {
                    $('#progress').hide();
                    alert("Ha ocurrido un error al registrar");
                }
            });
        }
        else
        {
            return;
        }
            
    }

    function ConfirmCancel() {
        var x = confirm("¿Está seguro que desea cancelar el registro?");
        if (x)
            location.href = '@Url.Action("Index", "Postulante")';
        else
            return false;
    }

</script>

}
